<div class="form__inputBlock">
    <label class="form__inputBlock__label" for="{{ data.name }}">{{ data.title }}</label>
    <input class="form__inputBlock__input" type="{{ data.type }}" id="{{ data.name }}" name="{{ data.name }}">
</div>